*{
     box-sizing: border-box;
     margin: 0px;
}
.calculator{
     background-color: #f2f2f2;
     padding: 20px;
     margin: 0 auto;
     bottom: 10px;
     border: 2px solid #333;
     box-shadow: 0 2px 3px rgba(0, 0, 0, 1.5);
     width: 400px;
     height: 400px;
     border-radius: 5px;
     margin-top: 30px;
}

#result{
     width: 100%;
     padding: 10px;
     font-size: 24px;
     border: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
     border-radius: 5px;
     padding: 10px;
}
.buttons{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 10px;
     margin-top: 20px;
}
button{
     padding: 10px;
     font-size: 24px;
     border: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}
button:hover{
     background-color: #ddd;
}
.clear{
     background-color: #ff4136;
     color: #fff;
}
.number,.decimal{
     background-color:#fff;
     color: #333;
}
.Operator{
     background-color:#3498db;
     color: #fff;
}
.Operator:hover{
     background-color:#ff8c00;
     color: #333;
}
.Equals{
     background-color: #2ecc71;
     grid-row: span 3;
     color:#fff;
}