/* #counterlabel{
    display: block;
    text-align: center;
    font-size: 20rem;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    text-align: center;
}
button{
    padding: 10px 20px;
    font-size: 1.Sem;
    color: white;
    background-color: skyblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
button:hover{
    background-color: aqua;
} */