* {
     padding: 0;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 body {
     background: linear-gradient(to right, #aa7e66, #feb47b);
 }
 
 .container {
     width: 600px;
     margin: 100px auto;
     background-color: #f5f5f5;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
 }
 
 h1 {
     text-align: center;
     color: #333;
 }
 
 .form-group {
     margin-bottom: 20px;
 }
 
 label {
     display: block;
     margin-bottom: 5px;
     color: #333;
     font-weight: 600;
 }
 
 input[type="date"] {
     width: 95%;
     padding: 10px;
     font-size: 16px;
     border-radius: 4px;
     border: 1px solid #ccc;
 }
 
 button {
     padding: 10px 20px;
     font-size: 16px;
     background-color: #aa7e66;
     border: none;
     outline: none;
     border-radius: 4px;
     color: #fff;
     cursor: pointer;
     display: block;
     margin: 10px 0; 
 }
 
 .result-container {
     display: none;
     margin-top: 10px;
     background-color: #fff;
     padding: 15px;
     border-radius: 4px;
     box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
 }
 
 .result h3 {
     color: #333;
     font-size: 16px;
 }
 
 .result p {
     font-size: 15px;
     margin-bottom: 10px;
 }
 